.buscador{
  padding:120px 0;
  text-align:center;

  h1{
    font-size:2.25em;
    color:$roxo-principal;
  }

  p{
    max-width:556px;
    line-height:1.5;
    margin:30px auto;
    color:$cinza;
  }
}

.buscador-item{
  margin:30px auto;

  h2{
    font-size:1.125em;
    font-weight:bold;
    margin-top:30px;
    color:$roxo-principal;
  }

  p{
    margin-top:15px;
    max-width:280px;
  }
}