.dispositivos{
  padding:120px 0;
  background: $gradient-roxo;
}

.dispositivos-item{
  width:100%;
  color:#fff;
  h2{
    font-size:2.25em;
    line-height:1.3;
  }
  p{
    font-sizse:1em;
    line-height: 1.5;
    margin-top:30px;
    max-width:494px;
  }

  img{
    margin-top:30px;
    margin-left:0px;
  }
}